:root {
  --color-primary: #000;
  --color-hover: #6e9c9f;
  --font-family: "Raleway";
  --main-font-size: 17px;
  --main-line-height: 140%;
  --letter-spacing: 0.02em;
  --font-size-sections: 40px;
  --transition: 0.3s all;
}
