.menu {
  &__list {
    @include flex;
  }

  &__list-item:not(:last-child) {
    margin-right: 45px;
  }

  &__list-link {
    font-size: 15px;

    transition: var(--transition);
  }

  &__list-link.active {
    color: var(--color-hover);
    font-weight: 700;
  }
}
