nav.menu
  ul.menu__list
    li.menu__list-item
     a.menu__list-link.active(href="#") Главная
    li.menu__list-item
      a.menu__list-link(href="#") Магазин
    li.menu__list-item
      a.menu__list-link(href="#") О бренде
    li.menu__list-item
      a.menu__list-link(href="#") Контакты
