.footer {
  background: #f1eadc;

  &__inner {
    display: flex;
    justify-content: space-between;

    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__copyright-info {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
  }

  &__submenu {
    margin-top: 40px;
    margin-left: 108px;
  }

  &__contacts {
    text-align: right;
  }

  &__phone-link {
    display: block;
    margin-bottom: 9px;
  }

  &__mail {
    margin-bottom: 30px;
  }

  &__social {
    margin-bottom: 30px;
  }

  &__social-link:not(:last-child) {
    margin-right: 12px;
  }
}
